<html>
	<head>
		<title>Le Blog de Floriane</title>
	</head>
	<body>
		<div>
			<h1><a href="">Le Blog de Floriane</a></h1>
		</div>

		<div>
			<p>published: 21.10.2014, 16:44</p>
			<h2><a href="">Mon premier post</a></h2>
			<p>Je suis très fière d'avoir réussi à publier mon premier post grâce à ce stage de deux jours. Je ne serai probablement pas capable de coder des petits jeux dans les semaines à venir mais il faut que je m'accorche parce que c'est sans doute le meilleur moyen de faire aboutir mon projet.</p>
		</div>

		<div>
			<p>published: 21.10.2014, 16:47</p>
			<h2><a href="">Merci Claire !</a></h2>
			<p> C'est vraiment super sympa de m'avoir aider. J'ai encore beaucoup de progrès à faire mais je vais persévérer. Sans doute...</p>
		</div>
	</body>
</html>